#background {
    background-color: pink;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
}

#container {
    width: 50%;
}



button {
    border: none;
    background-color: pink;
    font-weight: bold;
}