#background {
    background-color: pink;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
}

#container {
    display: flex;
    pa
}

#timer {
    justify-content: center;
}