#background {
    background-color: pink;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
}

#hour {
    display: fle;
    align-items: 'center';
    justify-content: center;
}